@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

section {
  width: 100%;
  background-image: url('../public/jj.png');
  background-repeat: repeat;
  background-size: contain;
  height: 100vh;
}

#title {
  font-family: 'Monoton', cursive;  
  color: burlywood;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 2px solid burlywood;
  font-size: 2.3rem;
}

#drum-machine {
  box-shadow: 0 0 5px grey;
  background-color: #111;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drum-pads {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  width: 100px;
  height: 100px;
  padding: 2rem;
  font-size: 1.8rem;
  color: #fff;
  box-shadow: 0 0 3px lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad:hover {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px lightgrey;
  color: silver;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

#display p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}